---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from 'astro:assets';
import supervisorsData from "../data/supervisors.json";
import tweet1 from '../assets/tweet1.png';
import tweet2 from '../assets/tweet2.png';

export interface Supervisor {
	name: string;
	email: string;
	address: string;
	phone: string;
	district: string;
	committeeAssignment: string;
	profilePictureUrl: string;
	detailedProfileUrl: string;
}

const typedSupervisorsData: Supervisor[] = supervisorsData;
---

<Layout title="Waukesha County: Welcome to the Circus">
	<main class="container mx-auto max-w-[1200px] px-4 my-12">
		<div class="gap-8 flex flex-col mt-8">
			<h1 class="">Big Tax Waukesha County</h1>

			<div class="instructions text-lg space-y-6">
				<h3 class="text-2xl font-bold text-center">
					MAJOR UPDATE 10/22/2024
				</h3>
				<p>
					Less than an hour before the board meeting, County Executive
					Paul Farrow withdrew the sales tax ordinance from the
					meeting's agenda. It will certainly be back, but <strong
						>this is a small win</strong
					>.
				</p>

				<p>
					<Image src={tweet1} alt="Description of the image" class="mx-auto" />
				</p>
				
				<p>
					Expect an intense marketing campaign from the county trying
					to convince you that raising taxes is the only way to solve
					the budget shortfall. But remember, the county also said
					that it was cruical for this ordinance to be passed <em
						>right now</em
					>, yet all it took was a few people speaking up to make them
					delay the vote.
				</p>
				<p>
					Furthermore, recall that the proposal was for a .5% tax. You
					would expect the executive and board arrived at that number
					through vigorous debate and analysis of financial data.
					Afterall, Waukesha is a "conservative" county, and only the
					bare minimum taxes should be raised. Yet, after a few people spoke up, Executive Farrow
					acknowledged that maybe an amount less than .5% would be
					enough. Why not start there? It's because they <em
						>wanted</em
					> more.
				</p>

				<p>
					<Image src={tweet2} alt="Description of the image" class="mx-auto" />
				</p>

				<p>
					To be clear - this budget shortfall should be solveable
					without raising taxes. The point is that the county almost
					got away with just doing what they want to do, but the
					people were able to get them to pause.
				</p>

				<p>
					Local politicians often go along to get along, but they
					aren't all sellouts. You have a lot more power with
					county/municipal/school board members than you do with your
					US or even State Senator. Continue to pay attention to this
					and keep pressure on your supervisor.
				</p>

				<p>You can make a difference.</p>

				<p>Thank you for coming to my TED talk.</p>
			</div>

			<p class="instructions text-lg text-center">
				On October 22nd, 2024, the Waukesha County Board of Supervisors
				will hold a vote to create a permament sales tax for the county.
			</p>

			<p class="text-center text-lg">
				This site will record which of the 25 supervisors are <strong
					>big taxers</strong
				> and which retain conservative values.
			</p>

			<p class="text-center text-lg">
				<a
					class="bg-purple-600 text-white px-4 py-2 rounded-md hover:bg-purple-700
					font-bold transition-colors"
					href="https://waukeshacounty.maps.arcgis.com/apps/webappviewer/index.html?id=bf66a80186324f59870f1d68777cbfbb"
					target="_blank">Find your Supervisor</a
				>
			</p>

			<p class="text-center text-lg">
				Is your supervisor a big taxer? Check back the night of October
				22nd, 2024 to find out!
			</p>

			<div class="flex flex-wrap gap-4 justify-center">
				{
					typedSupervisorsData.map((supervisor) => (
						<Card {supervisor} />
					))
				}
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		color: white;
	}
	.astro-a {
		/* position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1; */
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}

	.instructions strong {
		color: rgb(var(--accent-light));
	}
</style>
